<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/7b12bcc245.js" crossorigin="anonymous"></script>
  <title>Lista de Prendas - Rafaela & Alberson</title>
  <link rel="icon" href="assets/icons/favicon.ico" type="image/x-icon">
</head>

<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">R&A</label>
    <ul class="text">
      <li><a href="../index.html">INÍCIO</a></li>
      <li><a href="../gifts.html">PRESENTES</a></li>
      <li><a href="#prendas">PRENDAS</a></li>
    </ul>
  </nav>

  <div class="gifts-page">
    <h2>Lista de Prendas</h2>
    <div class="gift-container" id="prendas-list">
      <!-- As prendas serão carregadas aqui dinamicamente pelo JavaScript -->
    </div>
  </div>

  <footer>
    <h2>Surgiu alguma dúvida?</h2>
    <p>Fale com nossa cerimonialista</p>
    <p>Jéssica Scota: (27) 99828-8443</p>
    <br>
    <div class="text">© 2024 Alberson e Rafaela. Feito por <a href="https://github.com/albersonmiranda"
        class="text">@albersonmiranda</a>.</div>
  </footer>

  <!-- Modal para exibir QR Code -->
  <div id="qrCodeModal" class="modal">
    <div class="modal-content">
      <span class="close" id="closeQrCodeModal">&times;</span>
      <p>Leia o QR Code para fazer seu pix (ou parcele com PicPay)</p>
      <img id="qrCodeImage" src="" alt="QR Code">
      <p>Ou clique em "copiar" e cole no app do seu banco</p>
      <button id="copyPayloadButton">Copiar</button>
      <button id="confirmPaymentButton">Já paguei</button>
    </div>
  </div>
</body>

</html>
